:root {
    --colour1: #1a94ff;
    --colour2: #0074D9;
    --colour3: #b3dbff;
    --colour4: #f5faff;
    --text: #003f76;
    --size: 80px;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--colour2);
}

html, body {
    margin: 0;
}

#tiles {
    position: relative;
    height: 100vh;
}

#checks {
    background-color: #3D9970;
    color: white;
    background: conic-gradient(
        var(--colour1) 90deg,
        var(--colour2) 90deg 180deg,
        var(--colour1) 180deg 270deg,
        var(--colour2) 270deg
    );
    background-size: var(--size) var(--size);
    height: 100vh;
    border-bottom: 2px solid var(--colour3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#vertical {
    background: repeating-linear-gradient(
        to right,
        var(--colour3),
        var(--colour3) 2px,
        rgba(0,0,0,0) 2px,
        rgba(0,0,0,0) calc(var(--size) / 2)
    );
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#horizontal {
    background: repeating-linear-gradient(
        to bottom,
        var(--colour3),
        var(--colour3) 2px,
        rgba(0,0,0,0) 2px,
        rgba(0,0,0,0) calc(var(--size) / 2)
    );
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}




#pool {
    height: 100vh;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;         
    color: inherit;
    background-image: radial-gradient(
        circle at 11% -12%,
        #9dd1ff 10%,
        hsla(217.89, 10.61%, 64.9%, 0.4) 58%
        ),
        linear-gradient(
        271deg,
        #024dbe 0%,
        rgb(28, 232, 237, 0) 58%,
        rgba(241, 255, 249, 00) 72%,
        #005abb 100%
        ),
        linear-gradient(0deg, #00163a 0%, hsla(217.89, 10.61%, 64.9%, 0.4) 59%); 
}

header {
    position: absolute;
    top: calc(var(--size) / 2);
    left:calc(var(--size) / 2);
    z-index: 100;
    color: var(--text);
    font-family: -apple-system,  'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: normal;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-top: 0.25em;
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 400px) {
    header h1 {
        font-size: 2.5em;
    }
}

header p {
    margin: 0;
    padding: 0; 
    padding-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

a {
    color: var(--text);
}
