@import "vendor/bass";

body, h1, h2, h3, h4, h5 {
  font-family: "Open Sans";
}

.hero {
  // background-image: url(../../images/coffee.jpg);
  // color: white;


  @media (min-width: 52em) {
    h1 {
      font-size: 64px;      
    }

    h2 {
      font-size: 48px;
      font-weight: normal;
    }

    p {
      font-size: 22px;
    }
  }

}

.hero-text {
  // background: rgba(0,0,0,0.5);
}