%header.hero.px3.py4.bg-cover.bg-center
  %div.container
    %div.clearfix
      %div.hero-text.md-col.md-col-8
        %h1.mt0 Learn CoffeeScript.
        %h2.mt0 Create interactive prototypes <br> with Framer.js
        %p Even if you've never written a line of code.
        <div data-button_background_color="0066cf" data-buy_button_text="Buy now" data-display_size="regular" data-embed_type="product" data-first_variant_id="1159600325" data-has_image="false" data-product_handle="beginner-coffeescript-for-framer-js" data-product_name="CoffeeScript for Framer.js PRE-RELEASE BETA" data-redirect_to="checkout" data-shop="coffeescript-for-beginners.myshopify.com"></div>
        <script type="text/javascript">
        document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
        </script>
        <noscript><a href="https://coffeescript-for-beginners.myshopify.com/cart/1159600325:1" target="_blank">Buy CoffeeScript for Framer.js PRE-RELEASE BETA</a></noscript>

      %div.md-col.md-col-4.px2
        = image_tag 'cover.jpg'

     