%header.hero.px3.center
  %div.container.border-bottom.py4
    %h1.mt0 Learn CoffeeScript.
    %h2.mt0 Create interactive prototypes <br> with Framer.js
    %p Even if you've never written a line of code.     

%div.container.py3
  %div.clearfix
    %div.md-col.md-col-3.px2
      <div data-button_background_color="18447f" data-buy_button_text="Buy now" data-display_size="regular" data-embed_type="product" data-first_variant_id="1159600325" data-has_image="true" data-product_handle="beginner-coffeescript-for-framer-js" data-product_name="CoffeeScript for Framer.js" data-redirect_to="checkout" data-shop="coffeescript-for-beginners.myshopify.com"></div>
      <script type="text/javascript">
      document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
      </script>
      <noscript><a href="https://coffeescript-for-beginners.myshopify.com/cart/1159600325:1" target="_blank">Buy CoffeeScript for Framer.js</a></noscript>
      %h3 Including 
      %ul.bg-darken-2.p2
        %li.ml2 60+ page eBook (PDF or epub)
        %li.ml2 5 complete Framer projects with assets
        %li.ml2 4 editable PSD and Sketch files
        %li.ml2 Free updates
    %div.md-col.md-col-9.px2
      %h2.mt0 Dropbox, Facebook, Google, Slack, Stripe and more all use Framer.js to prototype and experiment with interaction design.
      %p 
        :markdown 
          But if you've never written CoffeeScript (or JavaScript) before, you might find yourself climbing up a steep learning curve before you reach the peak of productivity. *CoffeeScript for Framer.js* will get you up to speed on CoffeeScript and the basic programming principles you'll need to bring your ideas to life.
      %h3 Topics covered
      %ol
        %li.border-bottom.py1 What are CoffeeScript and JavaScript?
        %li.border-bottom.py1 Math and simple data types
        %li.border-bottom.py1 Using variables
        %li.border-bottom.py1 Conditional statements and flow control
        %li.border-bottom.py1 Functions
        %li.border-bottom.py1 Objects and Arrays
        %li.border-bottom.py1 Loops
        %li.border-bottom.py1 Creating and manipulating layers in Framer.js
        %li.border-bottom.py1 Working with events
        %li.border-bottom.py1 Prototyping simple interactions


%div.bg-blue.white
  %div.container.border-bottom.py3
    %div.px2
      %h2 Who this book is for
      %p This book is written for interaction designers who are excited to work with Framer.js but don't have much (or any) coding experience. 
      %p CoffeeScript for Framer.js assumes no previous knowledge of CoffeeScript or JavaScript, but could also be a good refresher for those who'd like to brush up on their skills.

%div.container.border-bottom.py3
  %div.clearfix 
    %div.md-col.md-col-2.px2
      = image_tag "author.jpg"
    %div.md-co.md-col-10.px2
      %h2.mt0 About the Author
      %p 
        :markdown
          Tessa Thornton is a JavaScript and CoffeeScript developer at [Shopify](http://www.shopify.com) in Toronto, Canada. She is an experienced developer, technical writer, and has been using CoffeeScript since before it got cool and then not cool and then cool again. 
