.site
  %h1 Tessa Thornton
  %p Front-end Web Developer @ Shopify.
  %p Toronto, Canada.
  .links
    = link_to "github.com/tessalt", "https://github.com/tessalt"
    = link_to "@tessthornton", "https://twitter.com/tessthornton"
    = link_to "technical blog", "http://blog.tessathornton.com/"
    = link_to "other writing", "http://medium.com/@tessthornton/latest"
